.prompter {
  margin: 0 auto;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.prompt-cursor {
  display: inline-block;
  line-height: 1em;
  animation: blink 1s steps(1) infinite;
  color: #b7410e;
}

.prompt-text {
  display: flex;
  font-weight: 900;
  font-size: 6rem;
  line-height: 7rem;
  color: #000401;
  margin-bottom: "0.5rem";
  min-height: 24px;
  font-family: var(--font-family);
  user-select: none;
}
